# Optional if run/file is private
WANDB_API_KEY=

# Defaults used by this deployment
WANDB_RUN_PATH=24f1000161-dl-genai-project/Messy-Mashup-Cutoff/7w7bs387
WANDB_MODEL_FILE=resnet50_1hour_best.pth
WANDB_MODEL_URL=https://wandb.ai/24f1000161-dl-genai-project/Messy-Mashup-Cutoff/runs/7w7bs387/files/resnet50_1hour_best.pth
